name: word_generator
description: A dart based util package for generating random nouns, verbs, names, strong password and validate the given password is strong or not.
version: 0.6.0
homepage: https://github.com/KathirvelChandrasekaran/word_generator

environment:
  sdk: ">=2.19.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  test: ^1.24.0
  flutter_lints: ^2.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter: {}
